In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, confusion_matrix
import seaborn as sns

In [2]:
data = pd.read_csv('wineData.csv')
data.dropna(inplace=True)

In [3]:
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,11.6,0.580,0.66,2.20,0.074,10.0,47.0,1.00080,3.25,0.57,9.0,3
1,10.4,0.610,0.49,2.10,0.200,5.0,16.0,0.99940,3.16,0.63,8.4,3
2,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.7,3
3,10.4,0.440,0.42,1.50,0.145,34.0,48.0,0.99832,3.38,0.86,9.9,3
4,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3

In [4]:
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

In [5]:
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,11.1,1.010,0.79,43.9,0.159,235.6,348.4,1.00204,3.08,1.71,12.3,3
1,11.8,0.830,1.32,43.1,0.176,149.0,246.9,1.01663,3.08,1.59,11.3,8
2,7.6,0.950,0.03,2.0,0.090,7.0,20.0,0.99590,3.20,0.56,9.6,5
3,11.3,1.080,1.32,53.3,0.138,145.2,285.4,1.01408,3.06,0.96,11.2,9
4,5.6,0.185,0.19,7.1,0.048,36.0,110.0,0.99438,3.26,0.41,9.5,6

In [6]:
data = data.replace({'quality' : {
                                    9: 'Good',
                                    8 : 'Good',
                                    7 : 'Good',
                                    6 : 'Middle',
                                    5 : 'Middle',
                                    4 : 'Bad',
                                    3 : 'Bad',}
})
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,11.1,1.010,0.79,43.9,0.159,235.6,348.4,1.00204,3.08,1.71,12.3,Bad
1,11.8,0.830,1.32,43.1,0.176,149.0,246.9,1.01663,3.08,1.59,11.3,Good
2,7.6,0.950,0.03,2.0,0.090,7.0,20.0,0.99590,3.20,0.56,9.6,Middle
3,11.3,1.080,1.32,53.3,0.138,145.2,285.4,1.01408,3.06,0.96,11.2,Good
4,5.6,0.185,0.19,7.1,0.048,36.0,110.0,0.99438,3.26,0.41,9.5,Middle

In [8]:
data['quality'] = data['quality'].map({"Good": 0, "Middle": 1, "Bad":2})

In [9]:
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,11.1,1.010,0.79,43.9,0.159,235.6,348.4,1.00204,3.08,1.71,12.3,2
1,11.8,0.830,1.32,43.1,0.176,149.0,246.9,1.01663,3.08,1.59,11.3,0
2,7.6,0.950,0.03,2.0,0.090,7.0,20.0,0.99590,3.20,0.56,9.6,1
3,11.3,1.080,1.32,53.3,0.138,145.2,285.4,1.01408,3.06,0.96,11.2,0
4,5.6,0.185,0.19,7.1,0.048,36.0,110.0,0.99438,3.26,0.41,9.5,1

In [10]:
split_index = int(len(data)*.8)
print(split_index)

16800

In [11]:
# 2. Split the DataFrame manually using .iloc
train_data = data.iloc[:split_index]
test_data = data.iloc[split_index:]

In [12]:
# 3. Separate features (X) and targets (Y) for both training and test sets.
X_train = train_data.drop(columns='quality').values
y_train = train_data['quality'].values

X_test = test_data.drop(columns='quality').values
y_test = test_data['quality'].values

In [13]:
# 4) Scale features   ## if i wont add feature scaling then it give 0% accrucacy but by adding this now it is giving something
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
print(X_train_scaled.shape)

(16800, 11)